<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>SM_Mess_OnlineApplication</display-name>
  <welcome-file-list>
    <welcome-file>homeDashboard.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addUserController</display-name>
    <servlet-name>addUserController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.addUserController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>userAddController</display-name>
    <servlet-name>userAddController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.userAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAddController</servlet-name>
    <url-pattern>/userAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginController</display-name>
    <servlet-name>adminLoginController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.adminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginController</servlet-name>
    <url-pattern>/adminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLoginController</display-name>
    <servlet-name>userLoginController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.userLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginController</servlet-name>
    <url-pattern>/userLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCandidate</display-name>
    <servlet-name>addCandidate</servlet-name>
    <servlet-class>org.SMMess.admin.controller.addCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCandidate</servlet-name>
    <url-pattern>/addCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCandidate</display-name>
    <servlet-name>viewCandidate</servlet-name>
    <servlet-class>org.SMMess.admin.controller.viewCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCandidate</servlet-name>
    <url-pattern>/viewCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCandidate</display-name>
    <servlet-name>updateCandidate</servlet-name>
    <servlet-class>org.SMMess.admin.controller.updateCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCandidate</servlet-name>
    <url-pattern>/updateCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCandidateController</display-name>
    <servlet-name>deleteCandidateController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.deleteCandidateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCandidateController</servlet-name>
    <url-pattern>/deleteCandidateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menuController</display-name>
    <servlet-name>menuController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.menuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuController</servlet-name>
    <url-pattern>/menuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout1</display-name>
    <servlet-name>logout1</servlet-name>
    <servlet-class>org.SMMess.admin.controller.logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout1</servlet-name>
    <url-pattern>/logout1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>billcontroller</display-name>
    <servlet-name>billcontroller</servlet-name>
    <servlet-class>org.SMMess.admin.controller.billcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billcontroller</servlet-name>
    <url-pattern>/billcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProfile</display-name>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>org.SMMess.admin.controller.updateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchCandidate</display-name>
    <servlet-name>searchCandidate</servlet-name>
    <servlet-class>org.SMMess.admin.controller.searchCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchCandidate</servlet-name>
    <url-pattern>/searchCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>markUserAttendance</display-name>
    <servlet-name>markUserAttendance</servlet-name>
    <servlet-class>org.SMMess.admin.controller.markUserAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>markUserAttendance</servlet-name>
    <url-pattern>/markUserAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>markAttendanceController</display-name>
    <servlet-name>markAttendanceController</servlet-name>
    <servlet-class>org.SMMess.admin.controller.markAttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>markAttendanceController</servlet-name>
    <url-pattern>/markAttendanceController</url-pattern>
  </servlet-mapping>
</web-app>